apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: bot-detector-rps-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: bot-detector
  minReplicas: 2
  maxReplicas: 20
  metrics:
    - type: Pods
      pods:
        metric:
          name: http_requests_per_second
        target:
          type: AverageValue
          averageValue: "5" # target 5 RPS per pod
